<form #signUpForm="ngForm" (ngSubmit)="register()">
  <div class="form-group">
    <label>
      E-mail address
      <input type="email"
             class="form-control"
             name="emailAddress"
             [(ngModel)]="model.emailAddress"
             required
             pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$">
    </label>
  </div>

  <div class="form-group">
    <label>Password
      <input type="password"
             class="form-control"
             name="password"
             [(ngModel)]="model.password"
             required>
    </label>
  </div>

  <div class="form-group">
    <label>First Name
      <input type="text"
             class="form-control"
             name="firstName"
             [(ngModel)]="model.name.firstName"
             required>
    </label>
  </div>

  <div class="form-group">
    <label>Last Name
      <input type="text"
             class="form-control"
             name="lastName"
             [(ngModel)]="model.name.lastName"
             required>
    </label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Submit</button>
</form>
